.user-information{
	margin-bottom: 0.5rem !important;
}

.topic{
	font-weight: bold !important;
	font-size: 20px !important;
}

@media only screen and (max-width: 960px) {
	.user-box{
		margin: auto;
	}
}