//****************************
//*COLOR Variable
//****************************

//*Primary
$primary_grey: #c1c1c1;
$royal_tooltip_bg: #c1c1c1;
$primary_blue: #0f5288;
$primary_blue_light: #3573a3;
$secondary_blue_light: #80b5d8;

$primary_white: #ffffff;
$primary_black: #000000;
//*royal
// $royal_red: rgb(224, 30, 38);
//*Secondary
// $royal_tooltip_bg: grey;
//*Tersary
