// ROBOTO BASE

* {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
}

.Roboto_Base {
  font-family: "Roboto", sans-serif !important;
}
.roboto_300 {
  @extend .Roboto_Base;
  font-weight: 300 !important;
}

.roboto_400 {
  @extend .Roboto_Base;
  font-weight: 400 !important;
}

.roboto_500 {
  @extend .Roboto_Base;
  font-weight: 500 !important;
}

.roboto_700 {
  @extend .Roboto_Base;
  font-weight: 700 !important;
}
